main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh ;
}

.marquee {
    position: relative;
    height: 220px;
    overflow-x: hidden;
    font-size: 144px;
    font-weight: bold
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation:marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }