<main>
    <div class="container d-flex">
        <div class="col-md-7 p-2">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore molestiae consequatur optio animi nostrum illum tempore numquam dolore hic voluptatum.</h2>
        </div>
        <div class="col-md-5 p-2 ms-2 mt-5" >
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Labore molestiae consequatur optio animi nostrum illum tempore numquam dolore hic voluptatum.</h5>
        </div>
    </div>

    <div class="mt-4">
        <img src="https://assets.epicurious.com/photos/54adbec06529d92b2c049c46/4:1/w_1944,h_486,c_limit/10-CutPasta.jpg,%20https://assets.epicurious.com/photos/54adbec06529d92b2c049c46/4:1/w_3888,h_972,c_limit/10-CutPasta.jpg%202x"
           style="opacity: .9; width: 100%;">
    </div>
    <div>

        <div class="marquee">
            <div class="track">
              <div class="content">
                <span>Taste</span>  
                <span>Flavour</span>  
                <span>Food</span>  
                <span>Love</span>  
                <span>Spices</span>  
                <span>Kitchen</span>  
                <span>Mom</span>  
                <span>Nutrition</span>        
               </div>
            </div>
          </div>
    </div>
    <div class="container d-flex mt-5 mb-5">
        <div class="col-md-6 py-5 px-2" >
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae labore aliquam necessitatibus accusamus culpa mollitia corrupti cupiditate, nam, distinctio, accusantium dignissimos quo assumenda temporibus! Dolor amet incidunt modi eum.</h5>
            <h5 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae labore aliquam necessitatibus accusamus culpa mollitia corrupti cupiditate, nam, distinctio, accusantium dignissimos quo assumenda temporibus! Dolor amet incidunt modi eum.</h5>
            <h5 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae labore aliquam necessitatibus accusamus culpa mollitia corrupti cupiditate, nam, distinctio, accusantium dignissimos quo assumenda temporibus! Dolor amet incidunt modi eum.</h5>
        </div>
        <div class="col-md-6">
            <img src="../../assets/bread-2589595_1920.jpg" style="height: 80vh; width: 100%;">
        </div>
    </div>
</main>

