B{
    font-size: 12px;
    font-weight: 800;
}
.myButton{
    background-color: #c24244;
    border: 1px solid #c24244 ;
    color: white;
}
.myButton:hover{
    border: 1px solid #c24244 ;
    font-size: 20px;
    /* scale: 1.03; */
    transition: all ease .5s;
}
.switchtext a:hover{
    color: #c24244;
}
input.ng-invalid.ng-touched{
    border: 1px solid Red;
}
input.ng-valid.ng-touched{
    border: 1px solid green;
}
.background-card{
    background: linear-gradient(to bottom , rgb(237 172 172 / 73%) , rgb(255, 255, 255));
}