<div class="container">
<h2 class="h2 fs-1">
    Manage shopping list
</h2>
<p class="mb-5 fs-5">Here,you can manage the list of items required for the prepration of the recipies.</p>
<div class="row mt-5">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        
        <ul class="list-group mb-5" >
            <li style="list-style: none;" class="mb-1 list-group-item border-1" *ngFor="let item of ingredients; let i = index">
                <a 
                    class="nav-link"
                    (click)="onEditItem(i)">
                    {{item.name}} ({{item.amount}})
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
