<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="" class="nav-link" *ngFor="let item of recipes">
            <!-- card single item starts -->

            <div class="card mb-3" style="width: 450px; height: 100px;">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img
                      [src]="item.imagePath"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                      style="height: 99px; width: 116px;"
                    />
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title m-0 p-0">{{item.name}}</h5>
                      <p class="card-text m-0">
                        {{item.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            <!-- card single item end-->

        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
