<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="onAddItem(form)" #form="ngForm">
            <div class="row mb-2">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" 
                            id="name" 
                            class="form-control" 
                            name="name" ngModel
                            required/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label" for="Amount">Amount</label>
                        <input type="number" 
                            id="Amount" 
                            class="form-control" 
                            name="amount" ngModel
                            required
                            pattern='^[1-9]+[0-9]*$'/>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success me-2" type="submit" [disabled]="form.invalid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-primary me-2" type="button" (click)="onClear()" >Clear</button>
                    <button class="btn btn-danger me-2 " type="button">Delete</button>
                </div>
            </div>
        </form>
            
        
    </div>
</div>
