<main>
<div class="header">
    <h1 class="h1">
        simple 
        <span>
            <img src="../../assets/recipe3.png" alt="" class="img-fluid">
        </span>
        and
    </h1>
    <h1 class="h1">
        tastey recipes 
    </h1>
</div>
<div class="explore-recipes mt-2">
    <div class="row">
        <div class="col-md-4 ms-3 image1before">
            <img src="../../assets/recipe4-removebg-preview.png" class="image1">
        </div>
        <div class="col-md-7">
            <div class="bg-dark rounded-pill explore-text">
                <a routerLink="/recipes">
                    explore <br>
                    Dishes
                </a>
            </div>
            <div class="hr"> </div>
            <div class="row">

            
            <div class="col-md-8">
                <p>Eligendi quos natus accusantium quaerat distinctio quae laborum placeat sequi autem impedit, officia non provident, dolor suscipit voluptas recusandae maxime commodi blanditiis molestiae.</p>
            </div>

            <div class="col-md-4 image2"  >
                <img src="../../assets/recipe3.png" alt="" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>

<section class="about mb-5">
    <div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3 class="h3">
                experience of real recipes taste
                <img src="../../assets/recipe2.png" alt="">
            </h3>
            <div class="hr"></div>
            <div class="about-footer d-flex justify-content-between align-items-center">
                <img src="../../assets/recipe2.png" alt="">
                <p class="fs-5">But our menu doesn't stop at breakfast. We also offer a wide range of dishes.</p>
                <a class="nav-link fs-6">View all</a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/recipe5-removebg-preview.png" alt="">
        </div>
    </div>

</div>
</section>
</main>                

