<main>
<div class="header">
    <h1 class="h1">
        simple 
        <span>
            <img src="../../assets/recipe3.png" alt="" class="img-fluid">
        </span>
        and
    </h1>
    <h1 class="h1">
        tastey recipes 
    </h1>
</div>
<div class="explore-recipes mt-2">
    <div class="row">
        <div class="col-md-4 ms-3 image1before">
            <img src="../../assets/recipe4-removebg-preview.png" class="image1">
        </div>
        <div class="col-md-7">
            <div class="bg-dark rounded-pill explore-text">
                <a routerLink="/recipes">
                    explore <br>
                    Dishes
                </a>
            </div>
            <div class="hr"> </div>
            <div class="row">

            
            <div class="col-md-8">
                <p>Eligendi quos natus accusantium quaerat distinctio quae laborum placeat sequi autem impedit, officia non provident, dolor suscipit voluptas recusandae maxime commodi blanditiis molestiae.</p>
            </div>

            <div class="col-md-4 image2"  >
                <img src="../../assets/recipe3.png" alt="" class="img-fluid">
            </div>
        </div>
        </div>
    </div>
</div>

<section class="about mb-5">
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-7">
            <h3 class="h3">
                experience of real recipes taste
                <img src="../../assets/recipe2.png" alt="">
            </h3>
            <div class="hr"></div>
            <div class="about-footer d-flex justify-content-between align-items-center">
                <img src="../../assets/recipe2.png" alt="">
                <p class="fs-5">But our menu doesn't stop at breakfast. We also offer a wide range of dishes.</p>
                <a class="nav-link fs-6">View all</a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/recipe3.png" alt="">
        </div>
    </div>

    </div>

    <div class="container viewlatest">
        <h2 class="h2">view all latest</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="viewlatest-card">
                    <p class="fs-5">alt Otawa kabab, we strive to create a warm and welcoming</p>

                    <a href="" class="fs-5 nav-link py-3 d-flex justify-content-between">
                        <span>Italian</span>
                        <i class="ri-arrow-right-up-line fs-4"></i>
                    </a>
                </div>
                <div class="viewlatest-card" style="margin-top: 90px;">
                    <p class="fs-5">alt Otawa kabab, we strive to create a warm and welcoming</p>

                    <a href="" class="fs-5 nav-link py-3 d-flex justify-content-between">
                        <span>Italian</span>
                        <i class="ri-arrow-right-up-line fs-4"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/recipe3.png" alt="">
            </div>
            <div class="col-md-3">
                <div class="viewlatest-card text-align-end">
                    <p class="fs-5">alt Otawa kabab, we strive to create a warm and welcoming</p>

                    <a href="" class="fs-5 nav-link py-3 d-flex justify-content-between">
                        <span>Italian</span>
                        <i class="ri-arrow-right-up-line fs-4"></i>
                    </a>
                </div>
                <div class="viewlatest-card" style="margin-top: 90px;">
                    <p class="fs-5">alt Otawa kabab, we strive to create a warm and welcoming</p>

                    <a href="" class="fs-5 nav-link py-3 d-flex justify-content-between">
                        <span>Italian</span>
                        <i class="ri-arrow-right-up-line fs-4"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section3">
    <h2 class="h2">
        Explore real taste
    </h2>
    <p class="text-center fs-5">
        We offer a varity of homemade pastries and sweets, including the almond-topped semalina cakes called harissa and the indulgent kunafe topped with pistachios.
    </p>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p>Lxorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, ab.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p>Lxorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, ab.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p>Lxorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, ab.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <h3 class="h3">
            Let's connect with us
        </h3>

        <div class="contact-form">
                <div class="inputfield">
                    <input type="email" placeholder="abc@gmail.com">
                </div>
        
            <div class="button">
                <a href="" class="btn">subscribe now</a>
            </div>
        </div>
    </div>
</section>
</main>                

