
main{
    height: 100%;
    width: 100%;
}

 h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 10rem;
    font-family: 'Cormorant Garamond', serif;
    color: #333;
}

h1 img{
    height: 200px;
    width: 184px;
    margin-top: -47px;
}

.explore-recipes{
    height: 50vh;
    width: 100%;
}
.explore-text{
    height: 130px;
    width: 130px;
    /* text-align: center; */
    transform: translateX(38vh);
    padding: 38px ;
    text-align: center;
}
.explore-text a{
    text-decoration: none;
    color: #fff;
}
.explore-recipes .hr{
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 2px solid #999;
}
.explore-recipes p{
    font-size: 18px;
    font-weight: 500;
}
.explore-recipes .image1{
    height: 400px;
    width: 400px;
    margin-bottom: 10%;
}

.explore-recipes .image2{
    height: 200px;
    width: 200px;
    transform: translate(10%, -32%);
}

.about{
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 6%;
}

.about .h3{
    padding-top: 40px;
    font-size: 5.5rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    /* font-weight: 500; */
}
.about .h3 img{
    height: 80px;
    width: 80px;
    transform: translate(-10px, -10px);
}
.about .hr{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about .about-footer p{
    margin-top: 15px;
    width: 65%;
}
.about .about-footer a{
    padding: 5px;
    cursor: pointer;
}
.h2{
    font-size: 7rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    text-align: center;
}

.viewlatest .row{
    margin-top: 100px;
    height: 85vh;
}
.viewlatest h2{
    margin-top: 60px;
}
.viewlatest img{
    transform: translate(-7%,-15%);
}
.viewlatest .viewlatest-card{
    border-bottom: 1.5px solid #707070;
}

.viewlatest-card a:hover i{
    transform: rotate(45deg);
    transition: all ease-in-out .3s;
}
.section3{
    height: 100vh;
}
.section3>p{
    width: 80%;
    padding: 0px 100px;
    margin-left: 11%;
}
.contact{
    height: 50vh;
    background-color: #f9f9f9;
}
.contact .h3{
    font-size: 5.5rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
}

.contact .contact-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.contact-form .inputfield input{
    height: 70px;
    width: 400px;
    border-radius: 35px;
    padding: 30px;
    border: 1px solid black;
}
.contact-form .button a{
    background-color: #111;
    height: 70px;
    width: 300px;
    padding: 17px;
    font-size: 1.2rem;
    border-radius: 35px;
    border: 1px solid #111;
    color: #fff;
}